/*HEADER & NAVBAR*/
.navbar-toggler {
  border-color: #f56a6a !important;
  color: #f56a6a !important;
}
.navbar-toggler-icon {
  /*#f56a6a*/
}
header nav .navbar-brand {
  font-size: 1rem;
}
header nav span {
  color: gray;
}

.lineSeparator {
  border: 3px solid #f56a6a;
}

/*FOOTER*/
footer {
  margin-top: 5px;
  height: 50px;
  width: 100%;
  background-color: #f56a6a;
}

.fixed-footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h1 {
  font-size: 1.2rem;
  color: white;
}

footer img {
  margin: 1px;
  height: 1.5rem;
  width: auto;
  filter: invert(1);
}
